@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
}

main {
  width: 730px;
  height: 510px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 15px 15px 15px 5px hsl(221, 100%, 96%);
}

#result, #summary {
  width: 365px;
  height: 100%;
  padding: 5% 0;
}

#result {
  position: absolute;
  left: 0;
  z-index: 10;
  border-radius: 30px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: hsl(241, 100%, 89%);
  text-align: center;
}

#r_circle {
  width: 50%;
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
  font-weight: 700;
}

#r_circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#r_circle p {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

#r_score {
  font-size: 3.6em;
}

#r_rating {
  margin-top: 12%;
  margin-bottom: 5%;
  font-size: 1.5em;
}

#r_score, #r_rating {
  color: hsl(0, 0%, 100%);
  font-weight: 800;
}

#r_comment {
  padding: 0 15%;
}

#summary {
  position: absolute;
  right: 0;
}

h1 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 10%;
}

#summary h1, #summary ul li, #summary input {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#summary ul {
  list-style-position: inside;
}

#summary ul li {
  line-height: 3em;
  border: 1px solid red;
  margin-bottom: 4%;
  border-radius: 5px;
  position: relative;
}

#summary ul li:nth-child(1) {
  list-style-image: url(assets/images/icon-reaction.svg);
}

.s_score {
  display: inline-block;
  position: absolute;
  right: 5%;
}

#summary input {
  height: 12%;
  margin-top: 12%;
  display: block;
  border-radius: 30px;
}