@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
}

main {
  width: 730px;
  height: 510px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 15px 15px 15px 5px hsl(221, 100%, 96%);
  display: flex;
}

#result, #summary {
  width: 365px;
  height: 100%;
  padding: 5% 0;
  
}

#result {
  border-radius: 30px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: hsl(241, 100%, 89%);
  text-align: center;
}

#r_circle {
  width: 50%;
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  font-weight: 700;
}

#r_circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#r_circle p {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

#r_score {
  font-size: 3.6em;
}

#r_rating {
  margin-top: 12%;
  margin-bottom: 5%;
  font-size: 1.5em;
}

#r_score,
#r_rating {
  color: hsl(0, 0%, 100%);
  font-weight: 800;
}

#r_comment {
  padding: 0 15%;
}

h1 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 8%;
}

#summary h1 {
  color: hsl(224, 30%, 27%);
}

#summary h1, #summary ul li, #summary input {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#summary ul {
  list-style-position: inside;
}

#summary ul li {
  margin-bottom: 4%;
  border-radius: 10px;
  position: relative;
  padding: 5% 4% 4% 4%;
}

#summary ul li:nth-child(1) {
  list-style-image: url(assets/images/icon-reaction.svg);
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 5%);
}

#summary ul li:nth-child(2) {
  list-style-image: url(assets/images/icon-memory.svg);
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 5%);
}

#summary ul li:nth-child(3) {
  list-style-image: url(assets/images/icon-verbal.svg);
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 5%);
}

#summary ul li:nth-child(4) {
  list-style-image: url(assets/images/icon-visual.svg);
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 5%);
}

.s_text, .s_score {
  display: inline-block;
  position: absolute;
  top: 28%;
}

.s_text {
  left: 15%;
}

.s_score {
  right: 5%;
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}

.gray {
  color: gray;
  font-weight: 700;
}

#summary input {
  height: 12%;
  margin-top: 12%;
  display: block;
  border-radius: 30px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  border: none;
  font-weight: 700;
  letter-spacing: 0.05em;
}

#summary input:active {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
}

footer a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}

@media screen and (max-height: 540px) {
  footer {
    display: none;
  }
}


@media screen and (max-height: 510px) {
  main {
    position: static;
    margin: 0 auto;
    transform: none;
  }
}

@media screen and (max-width: 730px) {
  * {
    font-size: 15px;
  }

  main {
    width: 375px;
    height: 809px;
    position: static;
    margin: 0 auto;
    transform: none;
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
  }

  #result {
    width: 375px;
    height: 355px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  #r_circle {
    width: 38%;
  }

  
  #r_rating {
    margin-top: 5%;
    margin-bottom: 3%;
  }

  #r_comment {
    padding: 0 17%;
  }

  #summary {
    width: 375px;
    height: 454px;
  }

  #summary h1, #summary ul li, #summary input {
    width: 85%;
  }

  #summary ul li {
    padding: 4%;
  }

  #summary input {
    margin-top: 8%;
  } 

  footer {
    display: none;
  }
}