@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 2.67vw;
  font-family: 'Inter', sans-serif;
}

#filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(240, 100%, 5%, 0.301);
  z-index: 10;
  display: none;
}

#container {
  min-width: 375px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(36, 100%, 99%);
  position: relative;
}

header {
  width: 91%;
  padding: 3.0em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  width: 13.2%;
}

header a img {
  width: 100%;
}

header #menu_btn {
  width: 11.8%;
}

nav {
  width: 68%;
  min-width: 255px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -68%;
  transition: right 500ms, opacity 500ms;
  background-color: hsl(36, 100%, 99%);
  z-index: 30;
  opacity: 0;
  display: flex;
  flex-direction: column;
}

nav img {
  margin-top: 3.0em;
  margin-right: 2.5em;
  align-self: flex-end;
  width: 10%;
}

nav ul {
  list-style: none;
  padding-top: 8em;
}

nav ul li {
  font-size: 1.7rem;
  font-weight: 400;
  padding-bottom: 1.45em;
  padding-left: 1.2em;
}

main {
  width: 91%;
}

#main_article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#main_article img {
  width: 100%;
}

#main_article h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.0em;
  margin: 0.64em 0;
  color: hsl(240, 100%, 5%);
}

#main_article p {
  font-size: 1.45rem;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: 1.6em;
  color: hsl(236, 13%, 42%);
}

#main_article button {
  width: 52.8%;
  color:hsl(36, 100%, 99%);
  border: none;
  background-color: hsl(5, 85%, 63%);
  text-transform: uppercase;
  font-size: 1.45rem;
  font-weight: 700;
  letter-spacing: 0.21em;
  padding: 1.0em 0;
  margin-bottom: 3.2em;
}

#main_article button:hover {
  background-color: hsl(240, 100%, 5%);
  cursor: pointer;
}

#new {
  width: 100%;
  background-color: hsl(240, 100%, 5%);
  padding: 2.5em 2.0em 0 2.0em;
}

#new h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: hsl(35, 77%, 62%);
}

#new ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#new ul li {
  border-bottom: 1px solid hsl(233, 8%, 79%);
  padding: 3.0em 0;
}

#new ul li:last-child {
  border-bottom: none;
}

#new ul li h2 {
  font-size: 2.05rem;
  font-weight: 700;
  color:hsl(36, 100%, 99%);
  margin-bottom: 0.6em;
}

#new ul li h2:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

#new ul li p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.0em;
  color:hsl(233, 8%, 79%);
}

#ranking {
  width: 100%;
  margin: 8.0em 0;
}

#ranking ul {
  list-style: none;
}

#ranking ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.0em;
}

#ranking ul li img {
  width: 29.3%;
}

.ranking_content {
  width: 65%;
}

.ranking_content h1 {
  font-size: 2.9rem;
  font-weight: 800;
  color: hsl(233, 8%, 79%);
  margin-bottom: 0.33em;

}

.ranking_content h2 {
  font-size: 1.8rem;
  font-weight: 800;
  color:hsl(240, 100%, 5%);
  margin-bottom: 0.4em;
}

.ranking_content h2:hover {
  color:hsl(5, 85%, 63%);
  cursor: pointer;
}

.ranking_content p {
  font-size: 1.4rem;
  color: hsl(236, 13%, 42%);
  line-height: 1.8em;
}
