@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 4.266667vw;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  width: 100%;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 89.8666%;
  margin-top: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#title {
  font-size: 1.3rem;
  font-weight: 800;
  color: hsl(224, 21%, 14%);
  display: flex;
  align-items: flex-end;
}

#unread_num {
  padding: 0.15em 0.65em;
  margin-left: 0.5em;
  border-radius: 0.3em;
  background-color: hsl(219, 85%, 26%);
  font-size: 1.05rem;
  color: hsl(0, 0%, 100%);
}

button {
  font-size: 0.8rem;
  border: none;
  background-color: hsl(0, 0%, 100%);
  color: hsl(219, 12%, 42%);
}

main {
  width: 89.8666%;
}

article {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  border-radius: 1em;
  font-size: 0.9rem;
  color: hsl(219, 12%, 42%);
  display: flex;
  align-items: flex-start;
}

article img:first-child {
  margin-right: 1.0em;
}

article img:last-child {
  margin-left: auto;
  padding-left: 1.0em;
  box-sizing: content-box;
}

article img{
  width: 11.5717%;
}

.user_name {
  font-weight: 800;
  color: hsl(224, 21%, 14%);
}

.post {
  font-weight: 800;
}

.passed_time {
  color: hsl(219, 14%, 63%);
}

.club {
  font-weight: 800;
  color: hsl(219, 85%, 26%);
}

.message {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid hsl(205, 33%, 90%);
  border-radius: 1px;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
}

article:hover, button:hover {
  cursor: pointer;
}

button:hover, .post:hover, .user_name:hover {
  color: hsl(219, 85%, 26%);
}

.message:hover {
  background-color: hsl(211, 68%, 94%);
}

.unread {
  background-color: hsl(210, 60%, 98%);
}

.unread .mark{
  width: 0.5em;
  margin-left: 0.3em;
  display: inline-block;
}

.unread .mark::after {
  content: "";
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  display: block;
  background-color: hsl(1, 90%, 64%);
}

@media all and (min-width: 1024px) {
  html {
    font-size: 1.1111vw;
    background-color: hsl(210, 60%, 98%);
  }

  body {
    width: 50.6944%;
    margin: 4em auto;
    border-radius: 1em;
    background-color: hsl(0, 0%, 100%);
  }

  button {
    font-size: 0.9rem;
  }

  article {
    font-size: 1rem;
  }

  article img {
    width: 7%;
  }
}